.contact-form {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-input-container {
    width: 100%;
}

.contact-container {
    background-color: var(--color-peach);
    border-radius: 15px;
    padding: 55px 95px 54px 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-paragraph {
    width: 100%;
    max-width: 445px;
    margin-top: 32px;
}

.contact-input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--color-white);
    color: rgba(255, 255, 255, 0.5);
    height: 38px;
    margin-bottom: 25px;
    width: 100%;
    padding-left: 16px;
}

.contact-input::placeholder, .contact-textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}


.contact-textarea {
    padding-left: 16px;
    width: 100%;
    height: 102px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--color-white);
    margin-bottom: 24px;
}

@media (max-width: 1060px) {
    .contact-container {
        flex-direction: column;
    }
    .contact-paragraph, .contact-form {
        max-width: none;
    }
    .contact-paragraph {
        margin-bottom: 48px;
    }
}

@media (max-width: 500px) {
    .contact-container {
        padding: 71px 58px 71px 58px;
        border-radius: 0;

    }
}

@media (max-width: 375px) {
    .contact-container {
        padding: 72px 24px 72px 24px;
    }
}