.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 155px;
    position: relative;
}
/*navigation list*/
.navbar-list {
    list-style-type: none;
}

.navbar-list-a {
    text-decoration: none;
}

.list-desktop {
    display: flex;
    gap: 42px;
    background-color: transparent;
}

.list-a-desktop {
    color: var(--color-dark-grey);
}

.list-mobile {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 32px;
    background-color: #333;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 48px 24px;
    z-index: 2;
}

.list-mobile-show {
    display: flex
}

.list-mobile-hide {
    display: none
}

.list-a-mobile {
    color: white;
}
/*navigation list*/

.navbar-logo {
    width: 196px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px;
}
.burger-menu:focus {
    outline: 2px solid grey; /* Customize the outline style */
}

.burger-line {
    width: 40px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 680px) {
    .list-desktop {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
}
@media (max-width: 375px) {
    .navbar-container {
        height: 96px;
    }
}