@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: 'Jost', sans-serif;
}

:root {
	--color-peach: rgba(231, 129, 107, 1);
	--color-light-peach: rgba(255, 173, 155, 1);
	--color-black: rgba(29, 28, 30, 1);
	--color-dark-grey: rgba(51, 49, 54, 1);
	--color-light-grey: rgba(241, 243, 245, 0.86);
	--color-white: rgba(255, 255, 255, 1);
}

/*main layout*/

.main-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-space {
	margin-top: 160px;
}

.container {
	width: 100%;
	max-width: calc(1111px + 40px * 2);
	padding: 0 40px;
}

/*Text*/

.title {
	font-size: 48px;
	font-weight: 500;
	line-height: 48px;
}

.subtitle-1 {
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 2px;
}

.subtitle-2 {
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.paragraph {
	font-size: 16px;
	line-height: 26px;
}

.light-text {
	color: var(--color-white);
}

/*buttons*/

.primary-btn {
	font-weight: 500;
	font-size: 15px;
	width: 152px;
	height: 56px;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	letter-spacing: 1px;
}

.primary-btn:hover {
	background-color: var(--color-light-peach);
	color: var(--color-white);
}

.btn-on-dark {
	background-color: var(--color-white);
	color: var(--color-dark-grey);
}

.btn-on-light {
	background-color: var(--color-peach);
	color: var(--color-white);
}


@media (max-width: 500px) {
	.title {
		font-size: 32px;
		font-weight: 500;
		line-height: 36px;
	}

	.paragraph {
		font-size: 15px;
		line-height: 25px;
	}

	.container {
		padding: 0 24px;
	}

	.section-space {
		margin-top: 120px;
	}

	.remove-padding {
        padding: 0;
    }

}