.link-box {
    border-radius: 15px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.link-box-web {
    background-image: url('../assets/home/desktop/image-web-design-large.jpg');
    grid-row: 1 / 3;
}

.link-box-app {
    background-image: url('../assets/home/desktop/image-app-design.jpg');
}

.link-box-graphic {
    background-image: url('../assets/home/desktop/image-graphic-design.jpg');
}

.link-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.496884286403656);
    z-index: 0;
    border-radius: 15px;
}

.link-box-title, .link-box-subtitle {
    z-index: 1;
}
   
@media (max-width: 770px) {
    .link-box {
        height: 200px;
    }

    .link-box-web {
        grid-row: auto;
    }
}