.links-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 308px;
    grid-column-gap: 30px;
    grid-row-gap: 24px;
}

@media (max-width: 770px) {
    .links-container {
        grid-template-columns: 1fr;
        grid-template-rows: 200px;
        gap: 25px;
    }
}