.links-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 24px;
    min-height: 640px;


    margin-bottom: 200px;
}

@media (max-width: 770px) {
    .links-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 24px;
    }
}