.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.navbar-list {
    display: none;
    gap: 42px;
    list-style-type: none;
}

.navbar-logo {
    width: 196px;
}