.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 155px;
}

.navbar-list {
    display: none;
    gap: 42px;
    list-style-type: none;
}

.navbar-logo {
    width: 196px;
}

@media (max-width: 375px) {
    .navbar-container {
        height: 96px;
    }
}