.footer-container {
    background-color: var(--color-black);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 144px 0 72px 0;
}

.footer-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.footer-navbar-list {
    color: var(--color-white);
    display: flex;
    list-style-type: none;
    gap: 42px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
}

.footer-logo {
    width: 202px;
}

.footer-text {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.5;
}

.footer-text-bold {
    font-weight: bold;
}

.footer-contact {
    display: flex;
    margin-top: 31px;
}

.footer-contact-info {
    width: 350px;
    margin-right: 30px;
}

.footer-line-style {
    border: 1px solid;
    border-color: var(--color-white);
    opacity: 0.1;
}

.footer-line {
    display: flex;
}

.footer-social-media {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
}

.footer-social-media img {
    cursor: pointer;
}

.footer-line-under-img {
    display: none;
}

@media (max-width: 710px) {
    .footer-navbar, .footer-navbar-list, .footer-contact {
        flex-direction: column;
    }

    .footer-navbar-list {
        align-items: center;
        gap: 32px;
    }

    .footer-line {
        display: none;
    }

    .footer-line-under-img {
        display: flex;
        width: 100%;
        margin: 32px 0;
    }

    .footer-contact {
        text-align: center;
        gap: 40px;
    }

    .footer-contact-info {
        width: 100%;
    }

    .footer-social-media {
        justify-content: center;
    }
}